@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
}
body {
    background-color: black;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#celular {
    position: absolute;
    height: 627px;
    width: 511px;
    background: url('../imagens/frame-iphone.png') no-repeat center ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#screen {
    position: relative;
    top: 80px;
    left: 122px;
    width: 270px;
    height: 480px;
    }
#redes {
    text-align: right;
    padding: 70px 30px;
    display: block;
}
#redes img {
    border-radius: 50%;
    width: 40px;
    margin: 10px 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}
#redes img:hover {
    box-shadow: 2px 2px 7px rgba(255, 255, 255, 0.274);
    transform: translate(-3, -4); 
    transition-duration: .4s;
}

